/eturnal-*.exe
/eturnal-*.rpm
/eturnal_*.deb
/eturnal-*.tar.gz*
/rebar3
/run/
/log/
/doc/edoc-info
/doc/erlang.png
/doc/stylesheet.css
/doc/*.html
/index.html
/.make-binary.*/
#
# ExDoc:
#
/doc/assets/
/doc/dist/
/exdoc/
#
# For Reltool tests:
#
/rel/
#
# Auto-added by rebar3:
#
.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
