%%% eturnal build configuration.
%%%
%%% Note regarding 'eturnal_etc_prefix':
%%%
%%% If {{eturnal_etc_prefix}}/etc/eturnal.yml doesn't exist, eturnal falls back
%%% to {{eturnal_bin_prefix}}/etc/eturnal.yml.

{eturnal_user, "eturnal"}.
{eturnal_bin_prefix, "/opt/eturnal"}. % Points to: /opt/eturnal/bin/eturnal
{eturnal_etc_prefix, ""}.             % Points to: /etc/eturnal.yml
{erl_epmd_address, "127.0.0.1"}.
{erl_dist_port, ""}.
