%%% eturnal build configuration.

{eturnal_user, "eturnal"}.        % The user running eturnal.
{eturnal_prefix, "/opt/eturnal"}. % The installation directory.
{erl_epmd_address, "127.0.0.1"}.  % See <https://erlang.org/doc/man/epmd.html>.
{erl_dist_port, ""}.      % Specify a port number to avoid spawning EPMD.
