[{elvis,
  [{config,
    [#{dirs => ["src"],
       filter => "*.erl",
       ruleset => erl_files,
       rules =>
        [{elvis_style, no_import, disable},
         {elvis_style, no_if_expression, disable},
         {elvis_style, no_catch_expressions, #{ignore => [{eturnal, log_control_listener}]}},
         {elvis_style, no_boolean_in_comparison, #{ignore => [{eturnal_logger, logging_to_journal}]}},
         {elvis_style, no_spec_with_records, #{ignore => [eturnal_cert]}},
         {elvis_style, atom_naming_convention, #{ignore => [eturnal_cert]}},
         {elvis_style, export_used_types, #{ignore => [eturnal_misc]}},
         {elvis_style, private_data_types, #{ignore => [eturnal_module]}},
         {elvis_style, macro_naming_convention, #{ignore => [eturnal_module]}},
         {elvis_text_style, line_length, #{limit => 80}}]},
     #{dirs => ["."],
       filter => "rebar.config",
       ruleset => rebar_config,
       rules =>
        [{elvis_project, no_branch_deps, disable}]}]}]}].
