{minimum_otp_vsn, "21.0"}.

{deps,
 [{conf, "~> 0.1"},
  {stun, {git, "https://github.com/processone/stun.git", {branch, "master"}}},
  {influx_udp, "~> 1.1.1"},
  recon]}.

{relx,
 [{release, {eturnal, {cmd, "scripts/get-version"}},
   [eturnal,
    sasl,
    runtime_tools,
    recon,
    {influx_udp, none},
    {poolboy, none},
    {ulitos, none}]},
  % We don't use {mode, dev}: https://github.com/erlang/rebar3/issues/2598
  {dev_mode, true},
  {debug_info, keep},
  {include_erts, false},
  {include_src, true},
  {src_tests, false},
  {sys_config, "config/sys.config"},
  {vm_args, "config/vm.args"},
  {extended_start_script_hooks,
   [{pre_start,
     [{custom, "hooks/pre_start"}]},
    {post_start,
     [{wait_for_process, eturnal}]}]},
  {extended_start_script_extensions,
   [{credentials, "extensions/credentials"},
    {info, "extensions/info"},
    {loglevel, "extensions/loglevel"},
    {password, "extensions/password"},
    {reload, "extensions/reload"},
    {sessions, "extensions/sessions"},
    {version, "extensions/version"}]},
  {overlay_vars, "build.config"},
  {overlay,
   [{copy, "LICENSE", "doc/LICENSE.txt"},
    {copy, "CHANGELOG.md", "doc/CHANGELOG.md"},
    {copy, "README.md", "doc/README.md"},
    {copy, "config/eturnal.yml", "etc/eturnal.yml"},
    {copy, "scripts/hooks/pre_start", "bin/hooks/pre_start"},
    {copy, "scripts/extensions/credentials", "bin/extensions/credentials"},
    {copy, "scripts/extensions/info", "bin/extensions/info"},
    {copy, "scripts/extensions/loglevel", "bin/extensions/loglevel"},
    {copy, "scripts/extensions/password", "bin/extensions/password"},
    {copy, "scripts/extensions/reload", "bin/extensions/reload"},
    {copy, "scripts/extensions/sessions", "bin/extensions/sessions"},
    {template, "scripts/extensions/version", "bin/extensions/version"},
    {template, "scripts/eturnalctl", "bin/eturnalctl"},
    {template, "scripts/eturnal.init", "etc/init.d/eturnal"},
    {template, "config/eturnal.service", "etc/systemd/system/eturnal.service"}]}]}.

{erl_opts,
 [{platform_define, "^21\.[0-2]\.", old_persistent_term},
  {platform_define, "^21\.[0-2]\.", old_logger},
  {platform_define, "^2[12]\.", old_crypto},
  {platform_define, "^2[12]\.", old_inet_backend},
  {platform_define, "win32", old_inet_backend},
  warn_export_vars,
  warn_missing_spec_all,
  warn_unused_import,
  warnings_as_errors,
  debug_info]}.

{dialyzer,
 [{warnings,
   [unknown,
    unmatched_returns,
    error_handling,
    race_conditions]},
  {plt_extra_apps, % Nested dependencies which we call directly.
   [fast_tls,
    yval,
    influx_udp]}]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  deprecated_function_calls,
  deprecated_functions,
  locals_not_used]}.

{ct_opts,
 [{keep_logs, 10}]}.

{cover_enabled, true}.

{cover_excl_mods,
 [eturnal_systemd]}.

{cover_opts,
 [verbose,
  {min_coverage, 50}]}.

{edoc_opts,
 [{preprocess, true}]}.

{profiles,
 [{prod,
   [{relx,
     [{mode, prod}]}]},
  % Stripped-down binary release:
  {stripped,
   [{relx,
     [{mode, prod},
      {exclude_apps,
       [sasl,
        runtime_tools,
        recon]}]},
    {erl_opts,
     [no_debug_info,
      deterministic]}]},
  % Cross compilation:
  {cross,
   [{relx,
      % We don't use {mode, prod}: https://github.com/erlang/rebar3/issues/2598
     [{dev_mode, false},
      {debug_info, strip},
      {include_erts, "lib/erlang"},
      {system_libs, "lib/erlang/lib"},
      {include_src, false},
      {exclude_apps,
       [sasl,
        runtime_tools,
        recon]}]},
    {erl_opts,
     [no_debug_info,
      deterministic]}]},
  % Distribution packaging:
  {distro,
   [{relx,
     [{release, {eturnal, {cmd, "scripts/get-version"}},
       [eturnal]},
      {mode, minimal},
      {system_libs, false}]},
    {erl_opts,
     [no_debug_info,
      deterministic]}]},
  % Running the test suite:
  {test,
   [{erl_opts,
     [nowarn_export_all]}]},
  % Building documentation with ExDoc rather than EDoc:
  {exdoc,
   [{edoc_opts,
     [{doclet, edoc_doclet_chunks},
      {layout, edoc_layout_chunks},
      {dir, "_build/exdoc+docs/lib/eturnal/doc"}]},
    {post_hooks,
     [{edoc, "ex_doc eturnal $(scripts/get-version) \\
              $REBAR_BUILD_DIR/lib/eturnal/ebin \\
              --paths '_build/default/lib/*/ebin' \\
              --homepage-url https://eturnal.net \\
              --source-url https://github.com/processone/eturnal \\
              --source-ref master \\
              --logo doc/logo.png \\
              --output exdoc"}]}]}]}.

{overrides,
 [{del, stun,
   [{erl_opts, % Let 'stun' use the new logging API on Erlang/OTP 21 as well.
     [{platform_define, "^(R|1|20|21)", 'USE_OLD_LOGGER'}]}]}]}.

{pre_hooks,
 [{release, "chmod o-rw config/eturnal.yml"},
  {tar, "chmod o-rw config/eturnal.yml"}]}.

{alias,
 [{check,
   [xref,
    dialyzer,
    ct,
    cover]},
  {bump,
   [{clean, "-a"},
    update,
    upgrade]}]}.
