{deps,
 [{stun, {git, "https://github.com/processone/stun.git",
          {branch, "master"}}},
  {conf, {git, "https://github.com/processone/conf.git",
          {tag, "processone/1.0.1"}}},
  {recon, {git, "https://github.com/ferd/recon.git",
           {tag, "2.5.1"}}}]}.

{relx,
 [{release, {eturnal, "0.3.0"},
   [eturnal,
    conf,
    sasl,
    recon]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, true},
  {system_libs, false},
  {include_erts, false},
  {extended_start_script, true},
  {extended_start_script_hooks,
   [{pre_start,
     [{custom, "hooks/pre_start"}]},
    {post_start,
     [{wait_for_process, eturnal}]}]},
  {extended_start_script_extensions,
   [{reload, "extensions/reload"},
    {loglevel, "extensions/loglevel"}]},
  {overlay_vars, "build.config"},
  {overlay,
   [{copy, "scripts/extensions/reload", "bin/extensions/reload"},
    {copy, "scripts/extensions/loglevel", "bin/extensions/loglevel"},
    {copy, "scripts/hooks/pre_start", "bin/hooks/pre_start"},
    {copy, "config/eturnal.yml", "etc/eturnal.yml"},
    {template, "config/eturnal.service", "etc/systemd/system/eturnal.service"},
    {template, "scripts/eturnalctl", "bin/eturnalctl"}]}]}.

{minimum_otp_vsn, "21.0"}.

{erl_opts,
 [{platform_define, "^21\.[0-2]\.", old_logger},
  debug_info]}.

{dialyzer,
 [{warnings,
   [unknown,
    no_return,
    no_unused,
    no_improper_lists,
    no_fun_app,
    no_match,
    no_opaque,
    no_fail_call,
    no_contracts,
    no_behaviours,
    no_undefined_callbacks,
    unmatched_returns,
    error_handling,
    race_conditions]},
  {plt_extra_apps, % Nested dependencies which we call directly.
   [fast_tls,
    yval]}]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  deprecated_function_calls,
  deprecated_functions,
  locals_not_used]}.

{profiles,
 [{prod,
   [{erl_opts,
     [warnings_as_errors]},
    {relx,
     [{dev_mode, false},
      {system_libs, true},
      {include_erts, true},
      {include_src, false}]}]},
  % Minimalistic binary release:
  {binary,
   [{erl_opts,
     [no_debug_info,
      deterministic,
      warnings_as_errors]},
    {relx,
     [{dev_mode, false},
      {system_libs, true},
      {include_erts, true},
      {include_src, false},
      {exclude_apps,
       [recon,
        sasl]}]},
    {post_hooks,
     [{release, "erl -noinput -eval
       \"{ok, _} = beam_lib:strip_release('$REBAR_BUILD_DIR/rel/eturnal'),
         halt()\""}]}]},
  % Distribution packaging:
  {distro,
   [{erl_opts,
     [no_debug_info,
      deterministic]},
    {relx,
     [{dev_mode, false},
      {system_libs, false},
      {include_erts, false},
      {include_src, false},
      {exclude_apps,
       [conf,
        fast_tls,
        fast_yaml,
        p1_utils,
        recon,
        stun,
        yval]}]}]}]}.

{plugins,
 [rebar3_run]}.

{alias,
 [{check,
   [xref,
    dialyzer]},
  {bump,
   [{clean, "-a"},
    update,
    upgrade]}]}.
