%%% ExDoc configuration for the eturnal TURN server.

{proglang, erlang}.
{homepage_url, <<"https://eturnal.net">>}.
{source_url, <<"https://github.com/processone/eturnal">>}.
{logo, <<"doc/logo.png">>}.
{output, <<"exdoc">>}.
{extra_section, <<"DOCUMENTATION">>}.
{extras, [{'README.md', #{title => <<"Overview">>}},
          {'docker-k8s/README.md', #{title => <<"Docker Usage">>,
                                     filename => "docker"}},
          {'CHANGELOG.md', #{title => <<"Changelog">>}},
          {'LICENSE', #{title => <<"License">>}}]}.
