%%% ExDoc configuration for the eturnal TURN server.
%%%
%%% See: https://hexdocs.pm/ex_doc/Mix.Tasks.Docs.html#module-configuration

{proglang, erlang}.
{homepage_url, "https://eturnal.net"}.
{source_url, <<"https://github.com/processone/eturnal">>}.
{logo, "doc/logo.png"}.
{skip_undefined_reference_warnings_on, [<<"eturnal_module">>]}.
{api_reference, false}.
{main, "readme"}.
{formatters, [<<"html">>]}.
{output, <<"exdoc">>}.
{extra_section, "DOCUMENTATION"}.
{extras,
 [{'README.md', #{title => "Overview"}},
  {'doc/QUICK-TEST.md', #{title => "Quick Test"}},
  {'doc/INSTALL.md', #{title => "Build"}},
  {'doc/CONTAINER.md', #{title => "Usage"}},
  {'doc/CONTAINER-QUICK-TEST.md', #{title => "Quick Test"}},
  {'doc/CONTAINER-BUILD.md', #{title => "Build"}},
  {'CHANGELOG.md', #{title => "Changelog"}},
  {'LICENSE', #{title => "License"}}]}.
{groups_for_extras,
 [{'Container',
   [<<"doc/CONTAINER.md">>,
    <<"doc/CONTAINER-QUICK-TEST.md">>,
    <<"doc/CONTAINER-BUILD.md">>]},
  {'Appendix',
   [<<"CHANGELOG.md">>,
    <<"LICENSE">>]}]}.
{before_closing_head_tag,
 #{html => "
   <script src=\"https://cdn.jsdelivr.net/npm/mermaid@10.3.0/dist/mermaid.min.js\" />
   <script>
     document.addEventListener(\"DOMContentLoaded\", function () {
       mermaid.initialize({
         startOnLoad: false,
         theme: document.body.className.includes(\"dark\") ? \"dark\" : \"default\"
       });
       let id = 0;
       for (const codeEl of document.querySelectorAll(\"pre code.mermaid\")) {
         const preEl = codeEl.parentElement;
         const graphDefinition = codeEl.textContent;
         const graphEl = document.createElement(\"div\");
         const graphId = \"mermaid-graph-\" + id++;
         mermaid.render(graphId, graphDefinition).then(({svg, bindFunctions}) => {
           graphEl.innerHTML = svg;
           bindFunctions?.(graphEl);
           preEl.insertAdjacentElement(\"afterend\", graphEl);
           preEl.remove();
         });
       }
     });
   </script>"}}.
