%%% Rebar3 shell configuration for the eturnal TURN server.

[{kernel,
  [{logger_level, info},
   {logger,
    [{handler, default, logger_std_h,
      #{formatter => {logger_formatter,
                      #{single_line => false,
                        template => ["[", level, "] ", msg, "\n"]}}}}]}]},
 {conf,
  [{file, "config/eturnal.yml"},
   {on_fail, stop}]},
 {eturnal,
  [on_fail, exit]}].
