[{kernel,
  [{inet_dist_use_interface, {127, 0, 0, 1}},
   {logger,
    [{handler, default, logger_std_h,
      #{level => warning,
        formatter => {logger_formatter,
                      #{single_line => false,
                        time_designator => $\s,
                        template =>
                         [time, " [", level, "] ", msg, "\n"]}}}}]}]},
 {conf,
  [{on_fail, halt},
   {file, "$ETURNAL_ETC_PREFIX/etc/eturnal.yml"}]}].
