[{kernel,
  [{logger,
    [{handler, default, logger_std_h,
      #{formatter => {logger_formatter,
                      #{single_line => false,
                        template => ["[", level, "] ", msg, "\n"]}}}}]}]},
 {conf,
  [{file, "$ETURNAL_ETC_PREFIX/etc/eturnal.yml"},
   {on_fail, halt}]}].
