name: Release

on:
  push:
    tags:
      - '*.*.*'

jobs:
  release:
    name: Publish release
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Get changelog entry
        id: changelog
        uses: mindsers/changelog-reader-action@v2
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          name: eturnal ${{ steps.changelog.outputs.version }}
          body: ${{ steps.changelog.outputs.changes }}
          tag: ${{ steps.changelog.outputs.version }}
          prerelease: ${{ steps.changelog.outputs.status == 'prereleased' }}
          draft: ${{ steps.changelog.outputs.status == 'unreleased' }}
